.container {
    background-color: #D1EEEE;
    /* background: linear-gradient(cyan, #00DDDD); */
    width: 400px;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: inset 1px 1px 4px #999999;
}

.container h1, h2 {
    font-weight: bold;
    text-align: center;
}

.container h1 {
    font-size: 30px;
    padding-top: 10px;
}

.container h2 {
    font-size: 20px;
    padding-top: 30px;
}

form {
    margin-top: 30px;
}

table td {
    padding: 10px;
    vertical-align: top;
}

table td:nth-child(odd) {
    width: 110px;
    padding-left: 20px;
}

table tr {
    transition: font-weight .7s ease-in-out;
}

table tr:hover {
    font-weight: bold;
}

form button {
    margin: 20px;
}